<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Score Watch - {{ filme.titulo }}</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="bg-titulo" style="background: url({{ filme.imagem_bg.url }});">
        <div class="bg-filtro">
            <div class="container-filme-serie">
                <div class="banner-titulos">
                    <img src="{{ filme.imagem_capa.url }}" alt="{{ filme.titulo }}">
                </div>
                <div class="informacoes-titulos">
                    <h1>{{ filme.titulo }}</h1>
                    <p>{{ filme.sinopse }}</p>
                    <p><i class="fa-solid fa-film"></i> Gênero: {{ filme.genero }}</p>
                    <p><i class="fa-regular fa-clock"></i> Duração: {{ filme.duracao }}</p>
                    <p><i class="fa-regular fa-calendar"></i> Ano de Lançamento: {{ filme.ano_lancamento }}</p>
                    <p><i class="fa-solid fa-video"></i> Diretor: {{ filme.diretor }}</p>
                </div>
            </div>            
        </div>
    </div>

    {% if user.is_authenticated %}
        {% if user_avaliou_filme %}
            <p>Você já avaliou este filme.</p>
        {% else %}
            <h2>Avalie o filme</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ avaliacao_form.as_p }}
                <button type="submit">Avaliar</button>
            </form>
        {% endif %}

        <h2>Comente sobre o filme</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comentario_form.as_p }}
            <button type="submit">Comentar</button>
        </form>
    {% else %}
        <p>Faça login para avaliar e comentar.</p>
    {% endif %}


    {% if comentarios %}
        <h2>Comentários</h2>
        <ul>
            {% for comentario in comentarios %}
                <li>
                    <strong>{{ comentario.usuario }}</strong>
                    <p>{{ comentario.texto }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum comentário ainda.</p>
    {% endif %}

    {% if media_avaliacoes %}
    <h2>Média das Avaliações</h2>
    <p>Média: {{ media_avaliacoes|floatformat:1 }}</p>
{% else %}
    <p>Nenhuma avaliação ainda.</p>
{% endif %}


    {% include 'footer.html' %}
</body>
</html>
