<!DOCTYPE html>
{% load static %}
<html>
<head>
    {% include 'head.html' %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8"/>
    <title>Score Watch - {{ serie.titulo }}</title>
</head>
<body>
    {% include 'menu.html' %}
    <div class="bg-titulo" style="background: url({{ serie.imagem_bg.url }});">
        <div class="bg-filtro">
            <div class="container-filme-serie">
                <div class="banner-titulos">
                    <img src="{{ serie.imagem_capa.url }}" alt="{{ serie.titulo }}">
                </div>
                <div class="informacoes-titulos">
                    <h1>{{ serie.titulo }}</h1>
                    <p>{{ serie.sinopse }}</p>
                    <p><i class="fa-solid fa-film"></i> Gênero: {{ serie.genero }}</p>
                    <p><i class="fa-solid fa-circle-play"></i></i> Qtd. temporadas: {{ serie.qtd_temporadas }}</p>
                    <p><i class="fa-regular fa-calendar"></i> Ano de Lançamento: {{ serie.ano_estreia }}</p>
                    <p><i class="fa-solid fa-video"></i> Criador: {{ serie.criador }}</p>
                </div>
            </div>            
        </div>

    </div>

    {% include 'footer.html' %}
</body>
</html>
